<a href="https://colab.research.google.com/github/Krishnapriya01/CODSOFT/blob/main/Task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import the libraries

In [1]:
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

Load the Titanic dataset and preprocessing

In [2]:
titanic_data = sns.load_dataset('titanic')

In [3]:
titanic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [4]:
titanic_data.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [5]:
correlationmatrix=titanic_data.corr()
print(correlationmatrix)

            survived    pclass       age     sibsp     parch      fare  \
survived    1.000000 -0.338481 -0.077221 -0.035322  0.081629  0.257307
pclass     -0.338481  1.000000 -0.369226  0.083081  0.018443 -0.549500
age        -0.077221 -0.369226  1.000000 -0.308247 -0.189119  0.096067
sibsp      -0.035322  0.083081 -0.308247  1.000000  0.414838  0.159651
parch       0.081629  0.018443 -0.189119  0.414838  1.000000  0.216225
fare        0.257307 -0.549500  0.096067  0.159651  0.216225  1.000000
adult_male -0.557080  0.094035  0.280328 -0.253586 -0.349943 -0.182024
alone      -0.203367  0.135207  0.198270 -0.584471 -0.583398 -0.271832

            adult_male     alone
survived     -0.557080 -0.203367
pclass        0.094035  0.135207
age           0.280328  0.198270
sibsp        -0.253586 -0.584471
parch        -0.349943 -0.583398
fare         -0.182024 -0.271832
adult_male    1.000000  0.404744
alone         0.404744  1.000000

<ipython-input-5-bd219a045159>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlationmatrix=titanic_data.corr()

**Handle missing values**

In [13]:
titanic_data.fillna(method='ffill', inplace=True)

**Encode categorical variables**

In [7]:
label_encoder = LabelEncoder()
titanic_data['sex'] = label_encoder.fit_transform(titanic_data['sex'])
titanic_data['embarked'] = label_encoder.fit_transform(titanic_data['embarked'])

**Select features and target**

In [8]:
features = ['pclass', 'sex', 'age', 'fare', 'embarked']
target = 'survived'
X = titanic_data[features]
y = titanic_data[target]

**Split the data into training and testing sets**

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

**Initialize and train a logistic regression model **

In [10]:
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()

**Make predictions **

In [11]:
y_pred = model.predict(X_test)

**Evaluate the model**

In [12]:
accuracy = accuracy_score(y_test, y_pred)
classification_rep = classification_report(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")
print("Classification Report:\n", classification_rep)

Accuracy: 0.80
Classification Report:
               precision    recall  f1-score   support

           0       0.83      0.84      0.83       105
           1       0.77      0.76      0.76        74

    accuracy                           0.80       179
   macro avg       0.80      0.80      0.80       179
weighted avg       0.80      0.80      0.80       179